<ion-view>
    <script src="lib/datePicker/bootstrap-datepicker.js"></script>
    <style>
        table.table.dt-responsive.dataTable.no-footer {
            width: 100% !important;
        }
    </style>
    <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
        <div class="back-arrow"> <a class="pull-right" href="" ng-click="clickBack()"> 
            <img ng-if="modeProject == 'Gulf'" class="img-responsive" src="img/left-arrow.png" alt="blue-bg-with-logo-half">
            <img ng-if="modeProject == 'S-oil'" class="img-responsive" src="img/left-arrow-white.png"
              alt="left-arrow-white"></a></div>
        <nav-directive></nav-directive>
        <section class="section-pad-top">
            <div class="container">
                <div class=" login-otp">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h4 class="text-center gulf-h4">Volumes Achieved</h4>
                            <div class="login-contain padding-top-pixel">
                                <form class="transaction-form" style="padding: 20px 20px 20px;">
                                    <div class="form-group" ng-if="showAh">

                                        <div class="col-md-12 col-sm-12 col-xs-12" id="parentAhListVolume">
                                            <select class="form-control" ng-change="onAHChange()"
                                                ng-model="data.selectedAH" id="ahListVolume">
                                                <option value="" selected="selected">Select AH</option>
                                                <option ng-repeat="x in AvailabelAH" value="{{x.userid}}">{{x.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="showTh">

                                        <div class="col-md-12 col-sm-12 col-xs-12" id="parentThListVolume"
                                            style="margin-top: 15px;">
                                            <select class="form-control" ng-model="data.selectedTH"
                                                ng-change="onTHChange()" id="thListVolume">
                                                <option value="" selected="selected">Select TH</option>
                                                <option ng-repeat="x in AvailabelTH" value="{{x.userid}}">{{x.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="showSo">

                                        <div class="col-md-12 col-sm-12 col-xs-12" id="parentSoListVolume"
                                            style="margin-top: 15px;">
                                            <select class="form-control" ng-model="data.selectedSo"
                                                ng-change="onSOChange()" id="soListVolume">
                                                <option value="" selected="selected">Select SO</option>
                                                <option ng-repeat="x in AvailabelSo" value="{{x.userid}}">{{x.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-6 date-img"
                                            style="position: relative;margin-top: 15px;">
                                            <div class='input-group date' id="fromdateVolume">
                                                <input type="text" class="form-control" placeholder="From Date"
                                                    style="padding:6px 2px;height:30px;" ng-model="fromdate" readonly>
                                                <span class="input-group-addon"><i class="fa fa-calendar"
                                                        aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 date-img"
                                            style="position: relative;margin-top: 15px;">
                                            <div class='input-group date' id="todateVolume">
                                                <input type="text" class="form-control" placeholder="To Date"
                                                    style="padding:6px 2px;height:30px;" ng-model="todate" readonly>
                                                <span class="input-group-addon"><i class="fa fa-calendar"
                                                        aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="so" class="form-group text-center col-md-12 col-sm-12 col-xs-12"
                                        style="    margin-top: 15px;" id="parentareaListVolumeReport">
                                        <select class="form-control" ng-model="data.selectedAreaInVolume"
                                            id="areaListVolumeReport">
                                            <option value="" selected="selected">Select Area</option>
                                            <option ng-repeat="x in AvailabelArea" value="{{x.pm_po_name}}">
                                                {{x.pm_po_name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class=" btn gulf-btn signupbtn" style="margin-top:18px;"
                                            ng-click="search()">Submit</button>
                                    </div>



                                </form>
                                <div class=" row table-responsive mechani-list" style="margin-left: 0px;">
                                    <table id="activeMechnaic" class="table dt-responsive" style="">
                                        <thead>
                                            <tr>
                                                <th>Mechanic Name & Id</th>
                                                <th>Volume(L)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <footer-directive></footer-directive>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</ion-view>