<ion-view>

  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">

        <header ng-if="modeProject == 'Gulf'" class="chat-header navbar-fixed-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <img class="img-responsive" src="img/gulf-logo.png" alt="">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 15px;">
                <p>Chat With Gulf</p>
              </div>
              <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()">
                  <img class="img-responsive" src="img/left-arrow-white.png" alt="blue-bg-with-logo-half">
                </a></div>

            </div>
          </div>

        </header>

        <header ng-if="modeProject == 'S-oil'" class="chat-header navbar-fixed-top" style="background-color: #000;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <img class="img-responsive" src="img/gulf-logo.png" alt="">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top: 15px;">
                <p>Chat With Gulf</p>
              </div>
              <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()">
                  <img class="img-responsive" src="img/left-arrow-white.png" alt="blue-bg-with-logo-half">
                </a></div>

            </div>
          </div>

        </header>
    </nav>

    <section style="margin-top:50px;">
      <div class="line text-center">
        <p style="margin:0px;"><img class="img-responsive" src="img/Chatbot_today.png" alt="contact-us"></p>
      </div>

      <div class="container-fluid">
        <div class="row chaatboooot-design">
          <img src="img/gulf-logo.png" alt="" class="admin-profile-img-1">
          <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
            <ul class="new-chatboot">
              <li style="border-radius:10px 10px 0 0;">{{greeting}}!<br> How can I help you?<span
                  class="triangle"></span></li>
              <li ng-click="howToLogin()"><a href="">How to login into App ?</a><img src="img/ticked.png" alt="ticked"
                  class="admin-profile-tick" ng-show="showHowToLoginView"></li>
              <li ng-click="goToProgrmaDetails()"><a href="">Program Details</a></li>

            </ul>
          </div>
        </div>
        <div ng-show="showHowToLoginView">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group chat-bot-mechanic pull-right">
                <p class=" btn gulf-btn signupbtn-1">How to login into App ?<span class="triangle"></span></p><img
                  src="img/profile_90.png" alt="" class="admin-profile-img">
              </div>
            </div>
          </div>
          <div class="row chaatboooot-design">
            <img src="img/gulf-logo.png" alt="" class="admin-profile-img-1">
            <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
              <ul class="new-chatboot">
                <li style="background-color: #fff;" class="newChatBotLi">Login by following the below steps:Step 1:
                  Enter 10 digit registered mobile number in the App login page and submit <br>Step 2: Enter the 4 digit
                  OTP received on the registered mobile number</li>
                <li style="    color: #f15a22;
    font-weight: bold;
    font-size: 13px;"><a href="" ng-click="goToLogin()" class="newChatBotAncherUnderline">Click Here </a> to login now
                  – Click here will be directed to login page </li>
                <li style="    color: #f15a22;
    font-weight: bold;
    font-size: 13px;">I have forgot my Password <a href="" ng-click="goToForgotPassword()"
                    class="newChatBotAncherUnderline">Click Here </a> to get your password </li>



              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>
    <footer>
      <nav class="navbar  navbar-fixed-bottom">
        <div class="login-footer">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-md-6 col-xs-6 col-sm-6 border-orange">
                <ul class="list-inline">
                  <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png" alt="code"></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6">

              </div>
            </div>
          </div>
        </div>
      </nav>
    </footer>
  </div>


</ion-view>