<ion-view>
  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <header class="chat-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive" src="img/gulf-logo.png" alt="">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 heading-margin-chat">
            <p>Chat with Gulf</p>
          </div>
          <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()"><img
                class="img-responsive" src="img/left-arrow-white.png" alt="blue-bg-with-logo-half"></a></div>
          <!-- <div class="col-md-3 col-sm-3 col-xs-3">
        <p><a href=""  onclick="window.history.back()">Back </a></p>
      </div>-->
        </div>
      </div>

    </header>
    <section>
      <div class="line text-center">
        <p style="margin:0px;"><img class="img-responsive" src="img/Chatbot_today.png" alt="contact-us"></p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="well chat-well text-center">
              <p class="chat-p">You can see the code either under cap or on the back sticker of can</p>
              <p class="border-height"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
            <div class="well chat-well text-center">
              <p class="chat-p">once You get the code ,You can simply check in the code by <a href=""
                  ng-click="scanCodePreLogin()"><strong>Typing in the code</strong></a> or <a href=""
                  ng-click="scanCodePreLogin()"><strong>Scanning the QR code</strong></a></p>
              <p class="border-height"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
            <div class="well chat-well ">
              <p class="chat-p"> <a href="" ng-click=scanCodePreLogin()><strong>Click here to enter or scan your
                    code</strong></a></p>
              <p class="border-height"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
            <div class="well chat-well ">
              <p class="chat-p"> <strong>You can also enter multiple codes by adding comma in between</strong></p>
              <p class="border-height"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
            <div class="well chat-well">
              <p class="chat-p"><a href="" ng-click="goToCodeCheckInHelp()">i am unable to do code check-in </a></p>
              <p class="border-height"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="well chat-well ">
              <p class="chat-p">In case u need more information, please get in touch with our customer care, call <span
                  >+9118001236224</span></p>
              <p class="border-height"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <footer-directive></footer-directive>
    </footer>
  </div>
</ion-view>