<ion-view>
  <link rel="stylesheet" href="lib/datePicker/jquery-ui.css">
  <script type="text/javascript" src="lib/datePicker/jquery-ui.js"></script>
  <style>
    .popup-container.popup-showing {
      margin-top: 19% !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 0px;
      background-color: transparent;
    }

    p {
      color: #000A47;
    }

    .login-otp h4 {
      margin-top: 70px;
    }

    .body-bg-1 {
      background-image: url(./img/APP-PAGES-045.png);
    }

    .login-otp {
      padding-top: 30%;
    }

    .login-otp h4 {
      color: #000A47;
      font-weight: bold;
      font-size: 24px;
    }

    .Mechanic-max-height .form-control {
      border-bottom: 1px solid #000A47 !important;
      color: #000A47;
    }

    .gulf-btn {
      background-color: #000A47;
      padding: 6px 25px;
      font-size: 16px;
      border: medium none #000A47;
    }

    .button.ng-binding.button-positive {
      background-color: #000A47 !important;
    }

    .login-contain form {
      padding: 7px 20px 20px;
    }

    .navbar-brand {
      padding: 22px 15px;
    }

    .popup-body span,
    .popup-title {
      color: #000A47;
      font-weight: bold;
    }

    .Mechanic-max-height label {
      color: #000A47;
      font-weight: bold;
      font-size: 13px;
      line-height: inherit;
      margin-top: 5px;
    }

    @media screen and (min-width:320px) and (max-width:359px) {
      .navbar-brand {
        padding: 13px 15px;
        font-size: 15px;
      }
    }

    @media screen and (min-width:411px) and (max-width:823px) {
      .navbar-brand {
        padding: 27px 15px;
      }
    }

    /********* Cusrom Checkbox Starts *************/
    .checkbox-custom {
      opacity: 0;
      position: absolute;
    }

    .checkbox-custom,
    .checkbox-custom-label {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      cursor: pointer;
    }

    .checkbox-custom-label {
      position: relative;
    }

    .checkbox-custom+.checkbox-custom-label:before {
      content: '';
      background: #fff;
      border: 2px solid #000A47;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      /*padding: 2px;*/
      margin-right: 10px;
      text-align: center;
    }

    .checkbox-custom:checked+.checkbox-custom-label:before {
      content: "\f00c";
      font-family: 'FontAwesome';
      background: #000A47;
      color: #fff;
      border-radius: 4px;
    }

    /********* Cusrom Checkbox Ends*************/
  </style>
  <nav class="navbar navbar-fixed-top non-mlp-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
      </div>
    </div>
  </nav>
  <div id="top" ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <section class="section-pad-top" ng-show="showoneBankDeatils">
      <div class="container-fluid">
        <div class="login-otp">
          <div class="row">
            <h4 class="text-center gulf-h4">Bank Account Details</h4>
            <div class="login-contain padding-top-pixel Mechanic-max-height">
              <form method="" class="add-mechanic-details">
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <label for="name">Beneficiary Name*:</label>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="form-control" ng-model="beneficiaryName">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <label for="name">Account No.*:</label>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="form-control" ng-model="accountNumber">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <label for="name">Confirm Account No.*:</label>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="form-control" ng-model="confirmAccountNumber">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <label for="name">Bank Name*:</label>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="form-control" ng-model="bankName">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <label for="name">IFSC Code*:</label>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="form-control" ng-model="ifscCode">
                  </div>
                </div>
                <div class="clearfix"></div>

                <div style="margin-top:20px;">
                  <input id="bankAccountAccess" class="checkbox-custom" name="checkbox-1" type="checkbox">
                  <label for="bankAccountAccess" class="checkbox-custom-label">I agree to share my bank account
                    details</label>
                </div>
                <!-- 
                  <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top:20px;">
                    <label class="checkbox-inline" style="line-height:normal;"><input type="checkbox" value=""  id="bankAccountAccess">I agree to share my bank account details</label>
                  </div>  -->
                <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                  <button type="button" class=" btn gulf-btn signupbtn " ng-click="addBankDetails()"
                    ng-disabled="btnBank">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-pad-top" ng-if="showoneRupe">
      <div class="container-fluid">
        <div class="login-otp">
          <div class="row">
            <div class="login-contain padding-top-pixel Mechanic-max-height">
              <form method="" class="add-mechanic-details">
                <div class="form-group">
                  <div class="col-md-12 col-sm-12 col-xs-12 text-center balance-transfer-img">
                    <img class="img-responsive" src="img/balance-transfer.png" alt="balance-transfer">
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top:20px;"
                  ng-click="goNext" ()>
                  <p>We are transffering Rupee One<br>in your bank account <br>for verifing your bank account.</p>
                </div>
                <!--     <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                    <button type="button" class=" btn gulf-btn signupbtn " ng-click="goNext()">Submit (Later need to change based on status)</button>
                  </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-pad-top" ng-if="resultSatatus">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12" ng-if="valid">
              <div class="login-contain text-center padding-top-pixel">
                <div class="thumb-sign">
                  <img class="img-responsive" src="img/conguralation-thumb.png" alt="conguralation-thumb"
                    style="color:#fff;">
                </div>
                <h4 class="text-center gulf-h4">Congratulations !!</h4>
                <p>Your Bank Account has been verified.<br>
                  Now you can scan code and get rewards </p>
                <div class="form-group text-center sucessful">
                  <button type="submit" class=" btn gulf-btn signupbtn" ng-click="letsProceed()"><span>Ok, Lets
                      proceed</span><img style="width:30px;float:left;" class="img-responsive"
                      src="img/scan-next-code.png" alt="scan-next-code"></button>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" ng-if="inValid">
              <div class="login-contain text-center padding-top-pixel">
                <div class="thumb-sign">
                  <img class="img-responsive" src="img/sorry-thumb.png" alt="sorry-thumb" style="color:#fff;">
                  <h4 class="text-center gulf-h4">Oops, Sorry !!</h4>
                </div>
                <p>Your Bank Account verification is unsuccessful.<br>
                  Please Enter the correct bank details.</p>
                <div class="form-group text-center sucessful">
                  <button type="submit" class=" btn gulf-btn signupbtn" ng-click="reEnterDetail()"><span>Re-enter Bank
                      Details</span><img style="width:30px;float:left;" class="img-responsive"
                      src="img/scan-next-code.png" alt="scan-next-code"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  <footer>
      <nav class="navbar  navbar-fixed-bottom">
            <div class="login-footer">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-6 border-orange">
                            <ul class="list-inline">
                                <li><a href="tel:+9118001236224"><img class="img-responsive" src="img/phone-call.png" alt="code"></a></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </nav>
      </footer> -->
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    function maxLengthCheck(object) {
      if (object.value.length > object.max.length)
        object.value = object.value.slice(0, object.max.length)
    }
    function blockSpecialChar(e) {
      var k = e.keyCode;
      return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
    }
  </script>
</ion-view>