<ion-view>
  <style>
    .add-mechanic-details .form-control {
      padding: 4px 5px;
    }
  </style>
  <!-- date picker-->

  <link rel="stylesheet" href="lib/datePicker/jquery-ui.css" />
  <script type="text/javascript" src="lib/datePicker/jquery-ui.js"></script>
  <style>
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 0px;
      background-color: transparent;
    }
  </style>

  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow">
      <a class="pull-right" href="" ng-click="clickBack()"><img class="img-responsive" src="img/left-arrow.png"
          alt="blue-bg-with-logo-half" /></a>
    </div>
    <nav-directive></nav-directive>

    <section class="section-pad-top">
      <div class="container-fluid">
        <div class=" login-otp">
          <div class="row">
            <h4 class="text-center">Rejection Reason</h4>

            <div class="login-contain padding-top-pixel Mechanic-max-height">
              <form method="" class="add-mechanic-details">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">

                    <div class="col-md-12 col-sm-12 col-xs-12" id="areaParent">
                      <select class="form-control" ng-model="selectedReason" ng-change="selectChange()"
                        style="border:solid 1px #fff;" id="areaDropDown">
                        <option value="" selected="selected">Select Reason</option>
                        <option ng-repeat="x in getReasonType" value="{{x.Type}}">{{x.Type}}</option>
                      </select>
                    </div>

                  </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="othershow">
                      <textarea class="form-control" ng-model="rejectionId" id="rejectionId" name="rejectionId" rows="5"
                        style="text-align:left;border:solid 1px #fff; height: auto !important;resize: none;padding-left: 10px;">
                        </textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                  <div class="form-group">
                    <button type="submit" class=" btn gulf-btn signupbtn" ng-click="Submit()" style="margin-top: 40px;">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <footer-directive></footer-directive>
    </footer>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }

    function maxLengthCheck(object) {
      if (object.value.length > object.max.length)
        object.value = object.value.slice(0, object.max.length);
    }

    function maxLengthCheckPhoneNumber(object) {
      if (object.value.length > object.max.length)
        object.value = object.value.slice(0, object.max.length);
    }

    function blockSpecialChar(e) {
      var k = e.keyCode;
      return (
        (k > 64 && k < 91) ||
        (k > 96 && k < 123) ||
        k == 8 ||
        (k >= 48 && k <= 57)
      );
    }
  </script>
  <style>
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
      border: 1px solid #d3d3d3;
      /* background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; */
      font-weight: normal;
      color: #042469;
      font-weight: bold;
    }
  </style>
</ion-view>