<ion-view>

  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow">
      <a class="pull-right" href="" onclick="window.history.back()">
        <img ng-if="modeProject == 'Gulf'" class="img-responsive" style="margin: 15px 15px;width: 17px;" src="img/left-arrow.png" alt="blue-bg-with-logo-half"/>
        <img ng-if="modeProject == 'S-oil'" class="img-responsive" style="margin: 15px 15px;width: 17px;" src="img/left-arrow-white.png" alt="blue-bg-with-logo-half"/>
      </a>
    </div>
    <nav-directive></nav-directive>

    <section class="section-pad-top">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h4 class="text-center gulf-h4" style="margin-top: 15%;">Mechanic Redeem</h4>
              <div class="login-contain text-center padding-top-pixel">
                <form style=" padding: 40px 40px 20px;">
                  <div class="form-group text-center username-login">
                    <input type="text" class="form-control" placeholder="Enter Mechanic Mobile No/Id"
                      ng-model="searchData" />
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class=" btn gulf-btn signupbtn"
                      ng-click="searchByIdOrMobileNumber()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <nav class="navbar  navbar-fixed-bottom">
        <footer-directive></footer-directive>
      </nav>
    </footer>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>


</ion-view>