<ion-view>
  <style>
    /******Custom Radio Button starts *********/

    .radio-custom {
      opacity: 0;
      position: absolute;
    }

    .radio-custom,
    .radio-custom-label {
      display: inline-block;
      vertical-align: middle;
      /* margin: 5px; */
      cursor: pointer;
    }

    .radio-custom-label {
      position: relative;
    }

    .radio-custom+.radio-custom-label:before {
      content: '';
      background: #EB5B24;
      border: 2px solid #EB5B24;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      text-align: center;
    }

    .radio-custom+.radio-custom-label:before {
      border-radius: 50%;
    }

    .radio-custom:checked+.radio-custom-label:before {
      content: "\f00c";
      font-family: 'FontAwesome';
      color: #fff;
    }

    .checkbox-inline input[type=checkbox] {
      width: 15px;
      height: 15px;
    }

    span.user-type {
      color: #1f3d8a;
      position: absolute;
    }

    .body-bg-1.cp-login {
      background-image: url(./img/gulf-background-new.png);
    }

    .login-otp h4 {
      color: #1f3d8a;
      margin: 0 auto 30px auto;
    }

    .form-control {
      border-radius: 4px;
      border: 1px solid #1f3d8a !important;
    }

    footer .login-footer {
      background-color: #004382;
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, #004382 10%, #0094d6 50%, #004382);
      /* Standard syntax (must be last) */
      padding: 8px 0;
    }

    i.fa.fa-facebook-square {
      color: #fff !important;
    }

    .form-control.user-name,
    .gulf-btn {
      background-color: #1f3d8a;
      border: medium none #1f3d8a;
      color: #fff !important;
    }

    .button.button-positive {
      background-color: #1f3d8a;
      border: medium none #1f3d8a;
      border-radius: 10px;
      color: #fff;
    }

    /******Custom Radio Button Ends*********/
  </style>

  <div ng-class="{'body-bg-1 cp-login':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()">
      <img ng-if="modeProject == 'Gulf'"class="img-responsive" src="img/left-arrow.png" alt="blue-bg-with-logo-half">
      <img ng-if="modeProject == 'S-oil'" class="img-responsive" src="img/left-arrow-white.png" alt="blue-bg-with-logo-half"></a></div>
    <channel-partners-header></channel-partners-header>

    <section class="section-pad-top">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h4 class="text-center gulf-h4"></h4>
              <div class="login-contain text-center padding-top-pixel">


                <p style="color: #1f3d8a;">{{msg}}</p>
              </div>
            </div>
            <div>
              <p style="color: #1f3d8a; text-align: center;">
                {{data.localAppLanguage.select_redeem_now_to_avail_the_benefit}}.</p>
            </div>
            <div class="form-group text-center sucessful">
              <button type="submit" class=" btn gulf-btn signupbtn"
                ng-click="redeemNowFromScanCode()"><span>{{data.localAppLanguage.scan_next_code}}</span><img
                  style="width:30px;float:left;" class="img-responsive" src="img/scan-next-code.png"
                  alt="scan-next-code"></button>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="form-group text-center sucessful">
                <button type="submit" class=" btn gulf-btn signupbtn" ng-click="redeemNow()"
                  style="margin-right: 20px;"><span>{{data.localAppLanguage.redeem_now}}</span></button>
                <button type="submit" class=" btn gulf-btn signupbtn"
                  ng-click="redeemLater()"><span>{{data.localAppLanguage.redeem_later}}</span></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <footer>
      <channel-partners-footer></channel-partners-footer>
    </footer>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>

</ion-view>