<nav class="navbar  navbar-fixed-bottom">
    <div ng-if="modeProject == 'Gulf'" class="login-footer">
        <div class="container-fluid ">
            <div class="row" ng-if="otherRole">
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="RH_TH_AH_Home()"><img class="img-responsive"
                                    src="img/home.png" alt="code"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-if="so">
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="goToHome()"><img class="img-responsive"
                                    src="img/home.png" alt="code"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-if="nonMLP">
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-xs-4 col-sm-4 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="home()"><img class="img-responsive"
                                    src="img/home.png" alt="code"></a></li>
                    </ul>
                </div>
            </div>


            <!-- <div class="row" ng-if="mech">
                            <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                                <ul class="list-inline">
                                    <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png" alt="code"></a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4">
                                <ul class="list-inline text-center">
                                    <li><a href=""  ng-click="goToHome()"><img class="img-responsive" src="img/home.png" alt="code"></a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4 chat-footer" >
                                <ul class="list-inline">
                                    <li  class="pull-right"><a href="" ng-click="goTOchatBoxHome()"><img class="img-responsive" src="img/chat-box.png" alt="code" style="width: 38px;margin-top: 2px;"></a></li>
                                </ul>
                            </div>
                        </div> -->

            <div class="row" ng-if="mech">
                <div class="col-md-3 col-xs-3 col-sm-3 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goToHome()"><img class="img-responsive" src="img/home.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="goTOchatBoxHome()"><img class="img-responsive"
                                    src="img/chat-box.png" alt="code" style="width: 38px;margin-top: 2px;"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="modeProject == 'S-oil'" class="login-footer">
        <div class="container-fluid ">
            <div class="row" ng-if="otherRole">
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call_Soil.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="RH_TH_AH_Home()"><img class="img-responsive"
                                    src="img/home_Soil.png" alt="code"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-if="so">
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call_Soil.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="goToHome()"><img class="img-responsive"
                                    src="img/home_Soil.png" alt="code"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-if="nonMLP">
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call_Soil.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-xs-4 col-sm-4 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="home()"><img class="img-responsive"
                                    src="img/home_Soil.png" alt="code"></a></li>
                    </ul>
                </div>
            </div>


            <!-- <div class="row" ng-if="mech">
                            <div class="col-md-4 col-xs-4 col-sm-4 border-orange">
                                <ul class="list-inline">
                                    <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png" alt="code"></a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4">
                                <ul class="list-inline text-center">
                                    <li><a href=""  ng-click="goToHome()"><img class="img-responsive" src="img/home.png" alt="code"></a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-xs-4 col-sm-4 chat-footer" >
                                <ul class="list-inline">
                                    <li  class="pull-right"><a href="" ng-click="goTOchatBoxHome()"><img class="img-responsive" src="img/chat-box.png" alt="code" style="width: 38px;margin-top: 2px;"></a></li>
                                </ul>
                            </div>
                        </div> -->

            <div class="row" ng-if="mech">
                <div class="col-md-3 col-xs-3 col-sm-3 border-orange">
                    <ul class="list-inline">
                        <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call_Soil.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goToHome()"><img class="img-responsive" src="img/home_Soil.png"
                                    alt="code"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <ul class="list-inline text-center">
                        <li><a href="" ng-click="goTofacebook()"><i class="fa fa-facebook-square" aria-hidden="true"
                                    style="color:#3b5998;font-size: 30px;"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 chat-footer">
                    <ul class="list-inline">
                        <li class="pull-right"><a href="" ng-click="goTOchatBoxHome()"><img class="img-responsive"
                                    src="img/messanger_Soil.png" alt="code" style="width: 38px;margin-top: 2px;"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>