<ion-view>
  <div class="body-bg-1">
    <header>

    </header>
    <section class="section-pad-top">
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="login-contain set-password text-center" style="margin-top: 30%;">
              <form method="">
                <h4 style="color:#fff;">Change your password</h4>
                <div class="space-up-down">
                  <div class="form-group text-center password-login">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter Password"
                      ng-model="changePassword" min="1" max="99999999" oninput="passwordValidation(this)">
                  </div>
                  <div class="form-group text-center password-login">
                    <input type="password" class="form-control" id="pwd" placeholder="Re - Enter Password"
                      ng-model="changePasswordCfrm" min="1" max="99999999" oninput="passwordValidation(this)" >
                  </div>
                </div>
                <div id="error-text"></div>
                <div class="form-group text-center">
                  <button type="submit" class=" btn gulf-btn signupbtn" ng-click="passwordChange()">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <nav class="navbar  navbar-fixed-bottom">
        <div class="login-footer">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-md-6 col-xs-6 col-sm-6 border-orange">
                <ul class="list-inline">
                  <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png" alt="code"></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6 chat-footer">
                <ul class="list-inline">
                  <li class="pull-right"><a href=""><img class="img-responsive" style="width:38px;margin-top:2px"
                        src="img/chat-box.png" alt="code" ng-click=goTOchatBoxHome()></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </footer>
  </div>
  <script>
function passwordValidation(object) {
  if (object.value.length > object.max.length) {
    object.value = object.value.slice(0, object.max.length);
  }

  const regex = /^(?=.*[A-Z])(?=.*[!@#$%^&*(),.?\":{}|<>])(?=.*[0-9]).{1,8}$/;
  const isValid = regex.test(object.value);
  const errorText = document.getElementById('error-text');

  if (!isValid && object.value.length > 0) {
  let errorOutput = 'Invalid password.';

  const hasUppercase = /[A-Z]/.test(object.value);
  const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(object.value);
  const hasNumber = /[0-9]/.test(object.value);
  const isLengthValid = /^.{1,8}$/.test(object.value);

  if (!hasUppercase) {
    errorOutput += ' Password should contain at least one uppercase letter.';
    console.log('Missing uppercase letter.');
  }

  if (!hasSpecialChar) {
    errorOutput += ' Password should contain at least one special character.';
    console.log('Missing special character.');
  }

  if (!hasNumber) {
    errorOutput += ' Password should contain at least one number.';
    console.log('Missing number.');
  }

  if (!isLengthValid) {
    errorOutput += ' Password should be a maximum of 8 characters.';
    console.log('Invalid length.');
  }

  errorText.innerHTML = errorOutput;
  errorText.style.color = 'red';
} else {
  errorText.innerHTML = ''; // Clear the error text if the validation is successful
}

}
 </script>
</ion-view>