<ion-view>
    <style>
          .login-contain form {
              padding: 30px 20px 20px;
          }
  
          p {
              color: #fff;
          }
  
          .login-otp h4 {
              margin-top: 70px;
          }
      </style>
      <div class="body-bg-1">
        
          <section class="section-pad-top">
              <div class="container">
                  <div class=" login-otp">
                      <div class="row">
                          <div class="col-md-12 col-xs-12 col-sm-12">
                              <h4 class="text-center">Enter Username</h4>
                              <div class="login-contain text-center padding-top-pixel">
                                  <form method="">
                                      <div class="form-group text-center username-login">
                                      <!--    <input type="Number" class="form-control" placeholder="Enter Registered Mobile Number" ng-model="userName">-->
                                           <input type="Number"  class="form-control" placeholder="Enter Registered Mobile Number" ng-model="userName" min = "1" max = "9999999999" oninput="phoneValidations(this)" />
                                      </div>
                                      <div id="error-text"></div>
                                      <div class="form-group text-center">
                                          <button type="button" class=" btn gulf-btn signupbtn" ng-click="sendUserNameToGetOTP()">Submit</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <footer>
                 <nav class="navbar  navbar-fixed-bottom">
                  <div class="login-footer">
                      <div class="container-fluid ">
                          <div class="row">
                              <div class="col-md-6 col-xs-6 col-sm-6 border-orange">
                                  <ul class="list-inline">
                                      <li><a href="tel:18001236224"><img class="img-responsive" src="img/phone-call.png" alt="code"></a></li>
                                  </ul>
                              </div>
                              <div class="col-md-6 col-xs-6 col-sm-6 chat-footer">
                                  <ul class="list-inline">
                                      <li class="pull-right"><a href=""><img class="img-responsive" src="img/chat-box.png" alt="code" style="width: 38px;margin-top: 2px;" ng-click=goTOchatBoxHome()></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>
          </footer>
      </div>
      <script>
      
       function maxLengthCheckPhoneNumber(object) {
      if (object.value.length > object.max.length)
        object.value = object.value.slice(0, object.max.length)
    }
    function phoneValidations(object) {
  // Check if the length exceeds the maximum allowed
  if (object.value.length > object.max.length) {
    object.value = object.value.slice(0, object.max.length);
  }

  // Check if the value does not start with 9, 8, or 7
  const isValidStart = /^[6789]/.test(object.value);
  
  // Check if the length is exactly 10 digits
  const isValidLength = object.value.length === 10;

  const errorText = document.getElementById('error-text');

  if (!isValidStart || !isValidLength) {
    // Display a validation error
    errorText.innerHTML = 'Mobile number must start with 6, 7, 8, 9 and should be 10 digits long';
    errorText.style.color = 'red';
  } else {
    // Clear the error text if the validation is successful
    errorText.innerHTML = '';
  }
}

      </script>
  </ion-view>