<ion-view>
    <script src="lib/datePicker/bootstrap-datepicker.js"></script>
    <style>
        .btn-info {
            background-color: transparent;
            border-color: transparent;

        }

        .btn-sm {
            padding: 0px;
            margin-top: -4px
        }


        table>thead>tr>th {
            text-align: center !important;
        }

        .table>tbody>tr>td {
            text-align: center !important
        }

        table.table.dt-responsive.dataTable.no-footer {
            width: 100% !important;
        }
    </style>

    <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
        <div class="back-arrow"> <a class="pull-right" href="" ng-click="clickBack()"><img class="img-responsive"
                    src="img/left-arrow.png" alt="blue-bg-with-logo-half"></a></div>
        <nav-directive></nav-directive>
        <section class="section-pad-top">
            <div class="container">
                <div class=" login-otp">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h4 class="text-center gulf-h4">Things to do today</h4>
                            <div class="login-contain padding-top-pixel">
                                <form class="transaction-form" style="padding: 20px 20px 20px;">
                                    <div class="form-group" ng-if="showAh">

                                        <div class="col-md-12 col-sm-12 col-xs-12" id="parentAhListBeatArea">
                                            <select class="form-control" ng-change="onAHChange()"
                                                ng-model="data.selectedAH" id="ahListBeatArea">
                                                <option value="" selected="selected">Select AH</option>
                                                <option ng-repeat="x in AvailabelAH" value="{{x.userid}}">{{x.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="showTh">

                                        <div class="col-md-12 col-sm-12 col-xs-12" id="parentThListBeatArea"
                                            style="margin-top: 15px;">
                                            <select class="form-control" ng-model="data.selectedTH"
                                                ng-change="onTHChange()" id="thListBeatArea">
                                                <option value="" selected="selected">Select TH</option>
                                                <option ng-repeat="x in AvailabelTH" value="{{x.userid}}">{{x.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="showSo">

                                        <div class="col-md-12 col-sm-12 col-xs-12" id="parentSoListBeatArea"
                                            style="margin-top: 15px;">
                                            <select class="form-control" ng-model="data.selectedSo"
                                                ng-change="onSOChange()" id="soListBeatArea">
                                                <option value="" selected="selected">Select SO</option>
                                                <option ng-repeat="x in AvailabelSo" value="{{x.userid}}">{{x.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12 date-img" style="position: relative;">
                                            <div class='input-group date' id="fromdateThingsArea"
                                                style="margin-top: 15px;">
                                                <input type="text" class="form-control" placeholder="From Date"
                                                    style="padding:6px 2px;height:30px;" ng-model="fromdate" readonly>
                                                <span class="input-group-addon"><i class="fa fa-calendar"
                                                        aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="false" class="form-group text-center col-md-12 col-sm-12 col-xs-12"
                                        style="margin-top: 15px;" id="areaParent">
                                        <select class="form-control" ng-model="data.selectedArea" id="areaDropDown">
                                            <option value="">Select Area</option>
                                            <option ng-repeat="x in AvailabelArea" value="{{x.area}}">{{x.area}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class=" btn gulf-btn signupbtn" style="margin-top:18px;"
                                            ng-click="search()">Submit</button>
                                    </div>
                                    <div class="table-responsive mechani-list">
                                        <table id="AreaCoountBeat" class="table dt-responsive" style="">
                                            <thead>
                                                <tr>
                                                    <th>Select Area</th>
                                                    <th>Count</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <footer-directive></footer-directive>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</ion-view>