<ion-view>
  <style>
    .btn-info {
      background-color: transparent;
      border-color: transparent;

    }

    .btn-sm {
      padding: 0px;
      margin-top: -4px
    }
  </style>
  
  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()"><img class="img-responsive"
          src="img/left-arrow.png" alt="blue-bg-with-logo-half"></a></div>
    <nav-directive></nav-directive>

    <section class="section-pad-top">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h4 class="text-center gulf-h4" style="margin-top: 15%;">Refer A Mechanic</h4>
              <div class="login-contain text-center padding-top-pixel">
                <form action="/action_page.php" method="">
                  <p><strong>Search Retailer</strong></p>
                  <div class="form-group text-center username-login">
                    <input type="text" class="form-control" placeholder="Enter Retailer Id/Name"
                      ng-model="referralDataa">
                  </div>
                  <div class="form-group text-center">
                    <button type="button" class=" btn gulf-btn signupbtn" ng-click="referralChecking()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row table-responsive mechani-list" style="margin-left: 0px;" ng-show="afterSubmit">
      <table id="RetailerList" class="table dt-responsive" style="">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <!-- <th>Mobile No.</th>-->
            <th>Retailer Id</th>
          </tr>
        </thead>
        <tbody>
        </tbody>

      </table>
    </div>


    <footer>
      <footer-directive></footer-directive>
    </footer>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>


</ion-view>