<ion-view>
  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.go(-2)"><img class="img-responsive"
          src="img/left-arrow.png" alt="blue-bg-with-logo-half"></a></div>
    <nav-directive></nav-directive>
    <!-- <header>
      <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <ul>
    <li  ng-click="dashboard()"><a href=""><img class="img-responsive" src="img/mechanic-profile-menu.png" alt="mechanic-profile-menu">Dashboard</a></li>
          
           <li ng-if="so" ng-click="addMechanic()"><a href=""><img class="img-responsive" src="img/mechanic-profile-menu.png" alt="mechanic-profile-menu">Add Mechanic</a></li>
      <li ng-if="so" ng-click="mechProfile()"><a href=""><img class="img-responsive" src="img/mechanic-profile-menu.png" alt="mechanic-profile-menu">Mechanic Profile</a></li>
          
            <li ng-if="mech" ng-click="myProfile()"><a href=""><img class="img-responsive" src="img/mechanic-profile-menu.png" alt="mechanic-profile-menu">My Profile</a></li>
      <li ng-click="productEarning()"><a href=""><img class="img-responsive" src="img/product-earning-menu.png" alt="product-earning-menu">Product Earning</a></li>
      <li ng-click="couponCode()"><a href=""><img class="img-responsive" src="img/code-check-in.png" alt="code-check-in">Code Check In</a></li>
      <li ng-click="transactionSummary()"><a href=""><img class="img-responsive" src="img/transaction-summary.png" alt="transaction-summary">Transaction Summary</a></li>
      <li><a href=""><img class="img-responsive" src="img/redeem-gift.png" alt="redeem-gift">Redeem Gift</a></li>
      <li  ng-click="orderStatus()"><a href=""><img class="img-responsive" src="img/order-status.png" alt="order-status">Order Status</a></li>
          <li ng-click="myorder()" ng-if="mech"><a href=""><img class="img-responsive" src="img/order-status.png" alt="order-status">My order</a></li>
      <li ng-click="gulfCorner()"><a href=""><img class="img-responsive" src="img/gulf-corner-menu.png" alt="gulf-corner-menu">Gulf Corner</a></li>
      <li ng-if="mech" ng-click="referAFriend()"><a href=""><img class="img-responsive" src="img/refer-friend.png" alt="refer-friend">Refer a Friend</a></li>
      <li ><a  href="tel:+918904720084"><img class="img-responsive" src="img/contact-us.png" alt="contact-us">Contact Us</a></li>
          <li ng-click="logout()"><a href=""><img class="img-responsive" src="img/contact-us.png" alt="contact-us">Logout</a></li>
    </ul>
    </div>
    <div style="padding:0 15px; "><span style="color:#fe3200;font-size:30px;cursor:pointer" onclick="openNav()"><img src="img/menu1.png" alt="menu" style="width:35px"></span> </div>
  </header> -->
    <section class="section-pad-top">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h4 class="text-center gulf-h4">Refer A Mechanic</h4>
              <div class="login-contain text-center padding-top-pixel referral">
                <form method="" style="padding-left:10px;padding-right:10px;">
                  <p><strong>Referred by {{referredBy}}</strong></p>
                  <p>Enter details of prospect Mechanic below</p>
                  <div class="form-group text-center username-login">
                    <input type="text" class="form-control" placeholder="Enter Name" ng-model="name">
                  </div>
                  <div class="form-group text-center username-login">
                    <!--<input id="mobile-number" type="tel" class="form-control" placeholder="Enter Mobile Number">-->
                    <input type="Number" class="form-control" placeholder="Enter Mobile Number" ng-model="mobile"
                      min="1" max="9999999999" oninput="maxLengthCheckPhoneNumber(this)" />
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class=" btn gulf-btn signupbtn"
                      ng-click="AddMechanicByReferral()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <footer-directive></footer-directive>
    </footer>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    function maxLengthCheckPhoneNumber(object) {
      if (object.value.length > object.max.length)
        object.value = object.value.slice(0, object.max.length)
    }
  </script>
</ion-view>