<ion-view>

  <!-- <div ng-class="{'home-bg':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}"> -->
  <div class="home-bg">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="home-logo">
            <a class="navbar-brand" href=""><img class="img-responsive" src="img/logo.png"
                alt="blue-bg-with-logo-half"></a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Page 1-1</a></li>
                <li><a href="">Page 1-2</a></li>
                <li><a href="">Page 1-3</a></li>
              </ul>
            </li>
            <li><a href="">Page 2</a></li>
            <li><a href="">Page 3</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 welcome-content">
          <h4>Welcome<br><span>Mr Bunny</span></h4>
        </div>
      </div>
      <div class="row padding-bottom-pixel">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul class="home-image-detail">
            <li class="redeem">
              <a href=""><img class="img-responsive" src="img/gulf-wallet-2.png" alt="gulf-wallet">
                <p class="total-number">XXXXX</p>
              </a>
            </li>
            <li class="redeem">
              <a href=""><img class="img-responsive" src="img/redeem-now.png" alt="product 1"></a>
            </li>
            <li class="redeem">
              <a href=""><img class="img-responsive" src="img/point structure.png" alt="earn points"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="padding:0;">
          <div class="code-scanner">
            <img class="img-responsive" src="img/Code-2.png" alt="code" ng-click="goToQrCodePage()">
          </div>
          <ul class="home-image-detail1">
            <li class="bg-color12">
              <ul class="list-inline">
                <li class="bg-color-img"><img class="img-responsive" src="img/customer.png" alt="code"></li>
                <li class="bg-color12-content"><a href="">My Customer</a></li>
              </ul>
            </li>
            <li class="bg-color12">
              <ul class="list-inline">
                <li class="bg-color-img"><img class="img-responsive" src="img/refer.png" alt="code"></li>
                <!-- <li class="bg-color12-content"><a href="">Refer a Friend</a></li> -->
              </ul>
            </li>
            <li class="bg-color12">
              <ul class="list-inline">
                <li class="bg-color-img"><img class="img-responsive" src="img/gulf.png" alt="code"></li>
                <li class="bg-color12-content"><a href="">Gulf Corner</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="login-footer">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-7 col-xs-7 col-sm-7" style="padding:0;">
            <ul class="list-inline border-orange">
              <li><a href=""><img class="img-responsive" src="img/phone.png" alt="code"><span>Talk to us at 1800123
                    6224</span></a></li>
              <!-- <li>Talk to us at<br> 1800123 6224</li> -->
            </ul>
          </div>
          <div class="col-md-5 col-xs-5 col-sm-5" style="padding:0;">
            <ul class="list-inline messanger-content">
              <!-- <li>Chat with Us</li> -->
              <li class=" messanger"><a href=""><span>Chat with Us</span><img class="img-responsive"
                    src="img/messanger.png" alt="code"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   <div>
        <button type="button" class="button" ng-click="ScanBarCode()">ScanBarCode</button>
    </div>
    <br>
    <br>
    <img ng-src = "{{picture}}">
    
    <br>
    
    <div>
        <button type="button" class="button" ng-click="uploadPhoto()">uploadPhoto</button>
    </div>-->


</ion-view>