<ion-view>
    <style>
        /* .select2-container .select2-selection--single .select2-selection__rendered {
 
    background-color: transparent;
         color: #1f3d8a;
         border: 1px solid rgb(31, 61, 138)!important;
} */
        /* .select2-container--default .select2-selection--single {
 border: 1px solid rgb(31, 61, 138)!important;
} */

        .select-class {
            background-color: transparent;
            color: #1f3d8a;
            border: 1px solid rgb(31, 61, 138) !important;
        }

        .body-bg-1.cp-login {
            background-image: url(./img/gulf-background-new.png);
        }

        .login-otp h4 {
            color: #1f3d8a;
            margin: 0 auto 30px auto;
        }

        #makeParent,
        #modelParent {
            background-color: transparent;
            color: #1f3d8a;
            border: 1px solid rgb(31, 61, 138) !important;
        }

        .form-control {
            border-radius: 4px;
            color: #1f3d8a !important;
        }

        p {
            color: #1f3d8a;
        }

        footer .login-footer {
            background-color: #004382;
            /* For browsers that do not support gradients */
            background-image: linear-gradient(to right, #004382 10%, #0094d6 50%, #004382);
            /* Standard syntax (must be last) */
            padding: 8px 0;
        }

        i.fa.fa-facebook-square {
            color: #fff !important;
        }

        .form-control.user-name,
        .gulf-btn {
            background-color: #1f3d8a;
            border: medium none #1f3d8a;
            color: #fff !important;
        }

        .mechani-list thead {
            background-color: #1f3d8a;
        }

        .button.button-positive {
            background-color: #1f3d8a;
            border: medium none #1f3d8a;
            border-radius: 10px;
            color: #fff;
        }
    </style>

    <div ng-class="{'body-bg-1 cp-login':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
        <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()">
                <img ng-if="modeProject == 'Gulf'" class="img-responsive" src="img/left-arrow.png"
                    alt="blue-bg-with-logo-half">
                <img ng-if="modeProject == 'S-oil'" class="img-responsive" src="img/left-arrow-white.png"
                    alt="left-arrow-white">
            </a></div>
        <nav-directive ng-if="!isOtherCustomer && !nonMlp"></nav-directive>
        <non-mlp-header ng-if="!isOtherCustomer && nonMlp"></non-mlp-header>
        <channel-partners-header ng-if="isOtherCustomer"></channel-partners-header>

        <section class="section-pad-top1">
            <div class="container-fluid">
                <div class=" login-otp">
                    <div class="row">
                        <h4 class="text-center gulf-h4" ng-if="modeProject == 'Gulf'">{{data.localAppLanguage.recommendation_chart}}</h4>
                        <h4 class="text-center gulf-h4" ng-if="modeProject == 'S-oil'" style="color: #fff;">
                            {{data.localAppLanguage.recommendation_chart}}</h4>
                        <div class="login-contain padding-top-pixel  Mechanic-max-height">
                            <form method="" class="add-mechanic-details">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div id="makeParent">
                                            <select class="form-control select-class" ng-model="selectedMake"
                                                ng-change="makeChanged()" id="make">
                                                <option value="" selected="selected">{{data.localAppLanguage.make}}
                                                </option>
                                                <option ng-repeat="x in AvailabeMake" value="{{x.re_make}}">
                                                    {{x.re_make}}</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div id="modelParent">
                                            <select class="form-control select-class" ng-model="selectedModel"
                                                ng-change="modelChanged()" id="model">
                                                <option value="" selected="selected">{{data.localAppLanguage.model}}
                                                </option>
                                                <option ng-repeat="x in AvailabelModel" value="{{x.re_model}}">
                                                    {{x.re_model}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" ng-show="all">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4 ng-if="modeProject == 'Gulf'" class="text-center gulf-h4" style="font-size:18px;font-weight:normal;margin-top: 10px;">
                                {{recomendationHeader}}</h4>

                                <h4 ng-if="modeProject == 'S-oil'" class="text-center gulf-h4" style="font-size:18px;font-weight:normal;margin-top: 10px;color: #fff;">
                                    {{recomendationHeader}}</h4>
                        </div>
                    </div>
                    <div class="row" ng-show="all">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="mechanic-photo1" style="background-color:transparent;padding:0;"><a href=""><img
                                        class="img-responsive" src="{{decriptionImg}}" alt="blue-bg-with-logo-half"
                                        style="width: 200px;height: 200px;margin: 0px auto;"></a></div>
                        </div>
                    </div>
                    <div class="row" ng-show="all">
                        <div ng-if="modeProject == 'Gulf'" class="col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-center gulf-h4" style="margin-top: 50px;">
                                {{data.localAppLanguage.product_description}}</h4>
                            <p>{{productDescription}}</p>
                        </div>

                        <div ng-if="modeProject == 'S-oil'" class="col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-center gulf-h4" style="margin-top: 50px;color: #fff;">
                                {{data.localAppLanguage.product_description}}</h4>
                            <p style="color: #fff;">{{productDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>

            <footer-directive-nonmlp></footer-directive-nonmlp>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</ion-view>