<ion-view>
    <style>
        .select2-container .select2-selection--single .select2-selection__rendered {

            background-color: transparent;
            border: 1px solid #fff;
        }
    </style>

    <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
        <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()"> 
            <img ng-if="modeProject == 'Gulf'" class="img-responsive" src="img/left-arrow.png" alt="blue-bg-with-logo-half">
            <img ng-if="modeProject == 'S-oil'" class="img-responsive" src="img/left-arrow-white.png"
              alt="left-arrow-white"></a></div>
        <!-- <nav-directive ng-if="!isOtherCustomer && !nonMlp"></nav-directive>
    <non-mlp-header ng-if="!isOtherCustomer && nonMlp"></non-mlp-header>
    <channel-partners-header ng-if="isOtherCustomer"></channel-partners-header> -->
        <nav-directive></nav-directive>

        <section class="section-pad-top1">
            <div class="container-fluid">
                <div class=" login-otp">
                    <div class="row">
                        <h4 class="text-center gulf-h4">{{data.localAppLanguage.recommendation_chart}}</h4>
                        <div class="login-contain padding-top-pixel  Mechanic-max-height">
                            <form method="" class="add-mechanic-details">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6" id="makeParent">
                                        <select class="form-control" ng-model="selectedMake"
                                            style="border: 1px solid #fff;" ng-change="makeChanged()" id="make">
                                            <option value="" selected="selected">{{data.localAppLanguage.make}}</option>
                                            <option ng-repeat="x in AvailabeMake" value="{{x.re_make}}">{{x.re_make}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" id="modelParent">
                                        <select class="form-control" ng-model="selectedModel"
                                            style="border: 1px solid #fff;" ng-change="modelChanged()" id="model">
                                            <option value="" selected="selected">{{data.localAppLanguage.model}}
                                            </option>
                                            <option ng-repeat="x in AvailabelModel" value="{{x.re_model}}">
                                                {{x.re_model}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" ng-show="all">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-center gulf-h4" style="font-size:18px;font-weight:normal">
                                {{recomendationHeader}}</h4>
                        </div>
                    </div>
                    <div class="row" ng-show="all">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="mechanic-photo1" style="background-color:transparent;padding:0;"><a href=""><img
                                        class="img-responsive" src="{{decriptionImg}}" alt="blue-bg-with-logo-half"
                                        style="width: 200px;height: 200px;margin: 0px auto;"></a></div>
                        </div>
                    </div>
                    <div class="row" ng-show="all">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4 class="text-center gulf-h4" style="margin-top: 50px;
">{{data.localAppLanguage.product_description}}</h4>
                            <p>{{productDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <footer-directive></footer-directive>
            <!-- <footer-directive  ng-if="!isOtherCustomer && !nonMlp"></footer-directive>
            <footer-directive-nonmlp ng-if="!isOtherCustomer && nonMlp"></footer-directive-nonmlp>
            <channel-partners-footer ng-if="isOtherCustomer"></channel-partners-footer> -->
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</ion-view>