<ion-view>
  <style>
    .notification-ol {
      list-style-type: decimal;
    }

    .notification-ol li {
      color: #fff;
      margin-bottom: 25px;
      font-weight: bold;
    }

    .notification-ol .form-group {
      margin-top: 20px;
    }

    a,
    a:hover,
    p {
      color: #fff;
      font-weight: normal;
      font-family: inherit;
    }

    .dashboard .dashboard-img {
      width: auto;
      margin: 0 auto;
    }

    .dashboard a {
      padding: 0px;
    }
  </style>

  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()">
        <img ng-if="modeProject == 'Gulf'" class="img-responsive" src="img/left-arrow.png" alt="blue-bg-with-logo-half">
        <img ng-if="modeProject == 'S-oil'" class="img-responsive" src="img/left-arrow-white.png"
          alt="left-arrow-white">
      </a></div>
    <nav-directive></nav-directive>
    <!-- <nav-directive ng-if="!isOtherCustomer && !nonMlp"></nav-directive>
    <non-mlp-header ng-if="!isOtherCustomer && nonMlp"></non-mlp-header>
    <channel-partners-header ng-if="isOtherCustomer"></channel-partners-header> -->

    <section class="section-pad-top">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h4 class="text-center gulf-h4">{{data.localAppLanguage.notifications}}</h4>
              <div class="login-contain padding-top-pixel">
                <form method="" class="dashboard" style=" padding: 10px 20px;">
                  <div class="notification-heading">
                    <ol class=" notification-ol">
                      <li ng-repeat="x in notificationList">
                        <h4>{{x.nt_heading}}</h4>
                        <div class="form-group" ng-if="x.nt_file != ''">
                          <img class="dashboard-img notification-img img-responsive"
                            ng-src="{{AppurlForimage}}{{x.nt_file}}" alt="dashboard-1">
                        </div>
                        <!-- <p>{{x.nt_desc}}</p> -->
                        <p id="{{ 'p' + $index }}">{{URLify(x.nt_desc, "p"+$index)}}</p>
                      </li>

                    </ol>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <footer-directive></footer-directive>
      <!-- <footer-directive  ng-if="!isOtherCustomer && !nonMlp"></footer-directive>
 <footer-directive-nonmlp ng-if="!isOtherCustomer && nonMlp"></footer-directive-nonmlp>
 <channel-partners-footer ng-if="isOtherCustomer"></channel-partners-footer> -->
    </footer>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
</ion-view>