<ion-view>
    <style>
        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 0px;
            background-color: transparent;
        }
    </style>

    <link rel="stylesheet" href="lib/datePicker/jquery-ui.css">
    <script type="text/javascript" src="lib/datePicker/jquery-ui.js"></script>

    <div id="top" ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
        <div class="back-arrow"> <a class="pull-right" href="" ng-click="clickBack()"><img class="img-responsive"
                    src="img/left-arrow.png" alt="blue-bg-with-logo-half"></a></div>
        <nav-directive></nav-directive>
        <section class="section-pad-top">
            <div class="container-fluid">
                <div class="login-otp">
                    <div class="row">
                        <h4 class="text-center gulf-h4">Mechanic Profile</h4>
                        <div class="login-contain padding-top-pixel Mechanic-max-height">
                            <form class="add-mechanic-details">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <!-- <img src="img/mechanic--profile.png" alt="mechanic--profile">-->
                                        <img ng-src="{{mechProfileImage}}" alt="mechanic--profile" style="width: 85px;
    height: 85px;" ng-click="uploadProfilePhoto()" id="profilePic">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <!-- <p style="margin-top: 35px;">Mechanic Id:{{usd_code}}</p>-->
                                        <p style="font-size:15px;font-weight:bold">Mechanic Id:</p>
                                        <p style="font-size:15px;font-weight:bold">{{usd_code}}</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="user-name">Name:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <input type="text" class="nonEdit" id="name" placeholder="Name"
                                            ng-model="data.usd_firstname" ng-disabled="all" />
                                    </div>
                                </div>
                                <!-- newly added code start-->
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="user-name">Enrollment date:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <input type="text" class="nonEdit" placeholder="Enrolment Date"
                                            ng-model="data.enrolmentDate" ng-disabled="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="user-name">Points Balance:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <input type="text" class="nonEdit" placeholder="Point Balance"
                                            ng-model="data.pointsBalance" ng-disabled="true" />
                                    </div>
                                </div>

                                <!-- newly added code end-->
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="mobile-number">Mobile No :</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <input type="text" class="nonEdit" placeholder="Mobile" ng-model="usd_mobile"
                                            ng-disabled="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="date-of-birth">DOB:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="nonEdit" id="usd_dob_editProfie" ng-model="usd_dob"
                                            ng-disabled="all" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="preferred-language">Preferred Language:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 arrow-Show-Hide">
                                        <div ng-show="!all" id="langlist">
                                            <select class="form-control langInMechanicProfile"
                                                ng-model="data.selectedLanguage" ng-disabled="all" id="lang">
                                                <option ng-repeat="x in AvailabelLanguage" value="{{x.lang_name}}">
                                                    {{x.lang_name}}</option>
                                            </select>
                                        </div>


                                        <div ng-show="all"> <input type="text" class="nonEdit"
                                                placeholder="Preferred Language" ng-model="data.selectedLanguage"
                                                ng-disabled="all" /></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="address">Address:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="nonEdit" ng-model="data.address1" ng-disabled="all"
                                            placeholder="Room no/Shop Number" rows="5" id="address1"
                                            ng-change="checkAddress1()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="nonEdit" ng-model="data.address2" ng-disabled="all"
                                            placeholder="Shop  name/street" rows="5" id="address2"
                                            ng-change="checkAddress2()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="nonEdit" ng-model="data.address3" ng-disabled="all"
                                            placeholder="Landmark" rows="5" id="address3" ng-change="checkAddress3()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="pincode">Pincode:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input oninput="maxLengthCheck(this)" type="number" min="1" max="999999"
                                            class="nonEdit" placeholder="Pincode" ng-model="data.pincode"
                                            ng-change="checkPincode()" ng-disabled="all"
                                            onkeypress="return blockSpecialChar(event)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="state">State:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="nonEdit" placeholder="State" ng-model="state"
                                            value="{{state}}" ng-disabled="true" />
                                        <!--  <select  class="js-example-basic-single"  style="background-color: transparent !important" ng-change="onStateChange()" ng-model="data.selectedState" style= "width: 195px;background-color: blue;"   ng-disabled="all">
                   
                 <option ng-repeat="x in AvailabelState" value="{{x.pm_statename}}">{{x.pm_statename}}</option>
            </select >-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="city">City:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="nonEdit" placeholder="city" ng-model="city"
                                            value="{{city}}" ng-disabled="true" />
                                        <!--   <select  class="js-example-basic-single" ng-change="onCityChange()" ng-model="data.selectedCity" style= "width: 195px;background-color: blue;"  ng-disabled="all" >
                        <option ng-repeat="x in AvailabelCity" value="{{x.pm_district_name}}">{{x.pm_district_name}}</option>
            </select>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="area">Area:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 arrow-Show-Hide">
                                        <div ng-show="!all" id="areaParent">
                                            <select class="form-control" ng-change="onAreaChange()"
                                                ng-model="data.selectedArea" style="background-color: blue;"
                                                ng-disabled="all" id="areaDropDown">
                                                <option ng-repeat="x in AvailabelArea" value="{{x.pm_po_name}}">
                                                    {{x.pm_po_name}}</option>
                                            </select>
                                        </div>

                                        <div ng-show="all"> <input type="text" class="nonEdit" placeholder="Area"
                                                ng-model="data.selectedArea" ng-disabled="all" /></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="areaNotAvailable">
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control" ng-model="newArea" placeholder="Area">
                                    </div>

                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                                    <!-- <button type="submit" class=" btn gulf-btn signupbtn" ng-click="mechTransactionReport()">View Mechanic Performance</button> -->
                                    <button ng-if="so" type="submit" class=" btn gulf-btn signupbtn "
                                        ng-click="editDetails()" ng-show="all">Edit</button>
                                    <button type="submit" ng-hide="all" class=" btn gulf-btn signupbtn "
                                        ng-click="submitDetails()">Submit</button>
                                </div>
                                <!--   <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="submit" class=" btn gulf-btn signupbtn " ng-click="editMobileNo()" ng-if="false">Edit Mobile Number</button>
              </div>-->
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <footer-directive></footer-directive>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function maxLengthCheck(object) {
            if (object.value.length > object.max.length)
                object.value = object.value.slice(0, object.max.length)
        }

        function blockSpecialChar(e) {
            var k = e.keyCode;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
        }
    </script>

</ion-view>