<ion-view>

  <div ng-class="{'body-bg-1':modeProject == 'Gulf','home-bg_mode':modeProject == 'S-oil'}">
    <div class="back-arrow"> <a class="pull-right" href="" onclick="window.history.back()"><img class="img-responsive"
          src="img/left-arrow.png" alt="blue-bg-with-logo-half"></a></div>
    <nav-directive></nav-directive>

    <section class="section-pad-top">
      <div class="container">
        <div class=" login-otp">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h4 class="text-center add-mechanic-7">Dream Income </h4>
              <div class="login-contain text-center padding-top-pixel add-mechanic-8 btn-allignment">

                <div class="form-group text-center">
                  <button type="button" class=" form-control btn gulf-btn signupbtn" ng-click="setDreamIncome()"><img
                      src="img/direct.png">Set Dream Income</button>
                </div>
                <div class="form-group text-center">
                  <button type="button" class="form-control btn gulf-btn signupbtn"
                    ng-click="viewRecommendations()"><img src="img/Reffered-by-retailer.png">View
                    Recommendations</button>
                </div>
                <div class="form-group text-center">
                  <button type="button" class="form-control btn gulf-btn signupbtn" ng-click="performance()"><img
                      src="img/referred-by-mechanic.png">Dream Income Performance</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <footer-directive></footer-directive>
    </footer>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "280px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>

</ion-view>